<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.6.0/flatly/bootstrap.min.css">
<head>
    <title>Python Web App</title>
</head>
<body>
    <div class='centered'>
        <h1>Python Web App</h1>
        <p>Enter your player PDGA number and submit the form.</p>
        <form action="/result" method="POST">
            <label for="pdga_number">Enter Player PDGA number:</label>
            <input type="text" id="pdga_number" name="pdga_number">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>