/* This is a comment */
h1 {
    color: blue;
    font-family: Verdana;
}

button {
    background-color: green;
    transition: background-color 0.5s;
}
  
button:hover {
    background-color: yellow;
}

body {
    background-color: gray;
}